.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slides img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute; /*poeitioning the element relative to its parent*/
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}
.previous{
    left: 0; /*left aligns the button*/
}
.next{
    right: 0; /*right aligns the button*/
}

/*fade animation*/

@keyframes fade {
    from{opacity: 0.5}
    to {opacity: 1}
}